.appLayout {
  height: 100vh;
  overflow-y: auto;
  display: grid;
  grid-template-rows: 5rem 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'nav header'
    'nav content'
    'nav footer';
}

.header {
  grid-area: header;
  border-bottom: 2px solid #f3f6f9;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding-right: 6.25rem;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 6.25rem;
  background-color: #ffffff;
}

.logo {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #f3f6f9;
  margin-bottom: 2.5625rem;
}

.navItem + .navItem {
  margin-top: 1.5rem;
}

.content {
  grid-area: content;
  padding-right: 6.25rem;
}

.footer {
  grid-area: footer;
  padding: 1.375rem 0;
  position: sticky;
  bottom: 0;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .appLayout {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'content'
      'footer';
  }
  .header,
  .content {
    padding-right: 0;
  }
  .header {
    flex-direction: row;
  }
  .header,
  .footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .nav {
    transition: transform 0.3s ease-in;
    transform: translateX(-100%);
    position: fixed;
    z-index: 10;
  }
  .nav.menuVisible {
    transition: transform 0.3s ease-out;
    transform: translateX(0);
  }
}
