@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: theme(textColor.dark);
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus-visible {
  outline: 1px solid theme(colors.brand);
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
  z-index: 1;
}
